name: build_backend_infrastructure 

on:
  push:
    branches: [ main ]
    paths:
        - 'backend/**'

jobs:
  unittests:
    runs-on: ubuntu-latest
 #   env:
  #    working-directory: /home/runner/work/azresume/azresume/backend/counterapi 
    steps:
      - uses: actions/checkout@v2

      - name: Setup Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.8'
      
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r backend/counterapi/requirements.txt

      - name: Test Function Code
        run: |
            cd backend/counterapi
            python -m unittest discover
  
  zipfile:

    runs-on: ubuntu-latest
    needs: unittests
    
    steps:
      - uses: actions/checkout@v2

      - name: Create Zipfile
        run: |
            cd backend/counterapi    
            zip -r counterapi.zip counterapi/ host.json package.json proxies.json requirements.txt
  
      - uses: actions/upload-artifact@v1
        with:
          name: counterapi.zip
          path: ${{ github.workspace }}/counterapi.zip
  
  terraform:
    runs-on: ubuntu-latest
    needs: zipfile
    env:

      ARM_CLIENT_ID: ${{secrets.TF_ARM_CLIENT_ID}}
      ARM_CLIENT_SECRET: ${{secrets.TF_ARM_CLIENT_SECRET}}
      ARM_SUBSCRIPTION_ID: ${{secrets.TF_SUBSCRIPTION_ID}}
      ARM_TENANT_ID: ${{secrets.TF_TENANT_ID}}
      
    steps:   
      - uses: actions/checkout@v2 
      
      - name: Azure Login
        uses: azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Setup Terraform
        id: setup_terraform
        uses: hashicorp/setup-terraform@v1
        with:
          terraform_wrapper: false
       
      - name: Terraform Init for backend resources
        id: init_terraform_backend

        run: 
          
          terraform -chdir=backend/infra init

      - name: Terraform Apply for backend resources
        id: apply_terraform_backend
        run: terraform -chdir=backend/infra apply -auto-approve
  
      
